@charset "UTF-8";
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{font-family: font_ns;}
img{vertical-align: middle;}

$main_color: #008939;
$sub_color: #ffc20d;
$gray: #ebe8e8;


.header{
    width: 100%;
    background-color: #fff;
    height: auto;
    position: relative;
    z-index: 9999;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        background-color: $main_color;
        width: 100%;
        height: 3px;
    }
    .header-wrap{
        padding: 0px 50px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        .nav{
            width: 75%;
            height: 97px;
            ul{
                display: flex;
                max-width: 960px;
                justify-content: space-around;
                align-items: center;
                margin: 0 auto;
                height: 100%;
                li{
                    flex-basis: 20%;
                    text-align: center;
                    position: relative;
                    }
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
        .etc-menu{
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    a{color: #fff;}
                    i{font-size: 28px; color: #000;}
                    &:nth-child(1){
                        background-color: $sub_color;
                        width: 150px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 20px 0 0 20px;
                    }
                    &:nth-child(2){
                        background-color: $main_color;
                        width: 150px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 0 20px 20px 0;
                    }
                    &:nth-child(3){
                        margin-left: 3%;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .submenu{
        position: absolute;
        width: 100%;
        background-color: #fff;
        top: 93px;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        &.on{
            height: 350px;
        }
        &-wrap{
            position: absolute;
            width: 87%;
            padding-left: 40px;
            .sub-area{
                display: flex;
                max-width: 960px;
                margin: 0 auto;
                justify-content: space-around;
                padding-top: 38px;
                ul{
                    flex-basis: 20%;
                    text-align: center;
                    li{
                        padding-bottom: 25px;
                        font-weight: 500;
                        a{
                            position: relative;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }



.main-slide{
    img{width: 100%;}
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
    width: 10%;
    left: 90%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background-color: $main_color;
}

.swiper-index span{
    position: absolute;
    z-index: 9;
    right: 4.6%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    width: 100%;
    text-align: right;
    color: #fff;
    &:nth-child(1){top: 30%;}
    &:nth-child(2){top: 70%;}
}



.notice{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 100px;
    border-bottom: 3px solid $sub_color;
    .notice-wrap{
        background-color: #fff;
        flex-basis: 65%;
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
        width: 60%;
        h3{flex-basis: 20%; text-align: center;}
        .notice-swiper{
            flex-basis: 65%;
            width: 25%;
            position: relative;
            height: 30px;
            a{
                font-size: 18px;
            }
            span{
                position: absolute;
                left: 80%;
                transform: translateX(-50%);
                color: #545454;
            }
        }
        .btn-area{
            flex-basis: 8%;
            display: flex;
            height: 30px;
            i{font-size: 30px; cursor: pointer;}
            .btn-prev{margin-right: 2em;}
        }
    }
    .popular-wrap{
        background-color: #fff;
        flex-basis: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        width: 40%;
        h3{
            flex-basis: 30%;
            text-align: center;
        }
        .popular-area{
            flex-basis: 40%;
            height: 50px;
            ul li{
                line-height: 50px;
                position: relative;
                &::after{
                    content: attr(id);
                    position: absolute;
                    text-transform: uppercase;
                    font-size: 8px;
                    margin-left: 5px;
                    color: #ff720b;
                }
            }
        }
    }
}


.best-content{
    .content-wrap{
        h3{

        }
    }
}


.event-content{
    width: 100%;
    background-color: $gray;
    font-size: 0;
    .content-wrap{
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin: 0 auto;
        padding: 100px 50px;
    }
    h3{
        font-family: font_gm;
        font-size: 50px;
        font-weight: 900;
        letter-spacing: -1px;
        flex-basis: 18%;
        color: $main_color;
    }
    .event-img{
        flex-basis: 62%;
        margin-right: 16px;
    }
    .event-list{
        flex-basis: 20%;
        ul li{
            margin-bottom: 6px;
            position: relative;
            &.on::after{
                content: "";
                position: absolute;
                border: 5px solid $main_color;
                top: 0;
                left: 0;
                width: 98%;
                height: 97%;
            }
            
        }
    }
    img{width: 100%;}
}


.floating{
    position: absolute;
    z-index: 9999;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    background-color: rgba($sub_color, 0.95);
    padding: 60px 25px 0px;
    display: flex;
    height: 500px;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid #fff;
    ul{
        li{
            margin-bottom: 70px;
            text-align: center;
            position: relative;
            img{width: 35px; height: 35px;}
            &::after{
                content: attr(class);
                text-transform: uppercase;
                font-family: font_gm;
                font-weight: 900;
                letter-spacing: -1px;
                font-size: 0.8em;
            }
            &:not(:nth-child(4)):before{
                content: "";
                position: absolute;
                background-color: #fff;
                height: 1px;
                width: 100%;
                left: 0;
                top: 150%;
                transform: translateY(-50%);
            }
        }
    }
}


.footer{
    background-color: #292929;
    padding: 24px 0 18.81px;
    position: relative;
    color: #666;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #3b3b3b;
        top: 59px;
    }
    .footer-wrap{
        width: 1170px;
        margin: 0 auto;
        position: relative;
        .footer-top{
            margin-bottom: 25px;
            ul{
                display: flex;
                li{
                    margin-right: 29px;
                    height: 18px;
                    position: relative;
                    top: -2px;
                    &:nth-child(2){
                        a{
                            color: #bbb;
                            font-weight: bold;
                        }
                    }
                    &:last-child{
                        a{
                            letter-spacing: 0.05em;
                        }
                    }
                    a{
                        display: block;
                        font-size: 14px;
                        letter-spacing: -0.05em;
                        color: #666;
                    }
                }
            }
        }
        .footer-bottom{
            span{
                font: 13px;
                display: inline-block;
                margin-top: 18px;
                margin-left: 3px;
                padding-left: 9px;
                letter-spacing: 0;
                position: relative;
                &:not(:nth-child(1))::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 3px;
                    width: 2px;
                    height: 10px;
                    background-color: #666;
                }
                &:nth-child(1){
                    margin-left: 0;
                    padding-left: 0;
                }
            }
            p{
                font-size: 13px;
                line-height: 31px;
                letter-spacing: 0.005em;
                font-family: "font_sw",serif;
            }
        }
    }
}